.alert {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    border-radius: 4px;
    min-height: 48px;
    padding: 4px;
    word-wrap: break-word; 
    box-sizing: border-box;
    word-wrap: break-word; /* or overflow-wrap: break-word; */
    background-color: #F2F7FC;
}




.alert[data-alert-type="warning"] {
    background-color: #fff6e6;
}
 
.alert[data-alert-type="error"] {
    background-color: #ffe6e6;
}
 
.alert[data-alert-type="info"] {
    background-color: #e6ebff;
}
 
.alert[data-alert-type="success"] {
    background-color: #e6ffe6;
}
 
[data-color-scheme="dark"] .alert[data-alert-type="warning"] {
    background-color: #805d20;
}
 
[data-color-scheme="dark"] .alert[data-alert-type="error"] {
    background-color: #802020;
}
 
[data-color-scheme="dark"] .alert[data-alert-type="info"] {
    background-color: #203380;
}
 
[data-color-scheme="dark"] .alert[data-alert-type="success"] {
    background-color: #208020;
}
 
.alert-icon-wrapper {
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 12px;
    margin-right: 12px;
    height: 18px;
    width: 18px;
    user-select: none;
    cursor: pointer;
}
 
.alert-icon[data-alert-icon-type="warning"] {
    color: #e69819
}
 
.alert-icon[data-alert-icon-type="error"] {
    color: #d80d0d
}
 
.alert-icon[data-alert-icon-type="info"] {
    color: #507aff
}
 
.alert-icon[data-alert-icon-type="success"] {
    color: #0bc10b
}
 
.inline-content {
    flex-grow: 1;
    overflow: auto; /* or overflow: scroll; */
    max-width: 93%; /* limite width of text */

}

.bn-container .bn-side-menu {
    background-color: transparent;
}

.m_4081bf90 {
    align-items: var(--group-align, center);
    display: flex;
    flex-direction: row;
    flex-wrap: var(--group-wrap, wrap);
    gap: var(--group-gap, var(--mantine-spacing-md));
    justify-content: var(--group-justify, flex-start);
}

.m_38a85659{
    border: calc(.0625rem* var(--mantine-scale)) solid var(--popover-border-color);
    border-radius: var(--popover-radius, var(--mantine-radius-default));
    box-shadow: var(--popover-shadow, none);
    padding: var(--mantine-spacing-sm) var(--mantine-spacing-md);
    position: absolute;
}

.bn-container .bn-toolbar {
    --group-gap: var(--mantine-spacing-md);
    --group-align: center;
    --group-justify: flex-start;
    --group-wrap: wrap;

    gap: var(--group-gap);
    align-items: var(--group-align);
    justify-content: var(--group-justify);
    flex-wrap: var(--group-wrap);
    
}

.alert > * {
    flex-shrink: 0; 
}


.textarea {
    font-size:small;
max-height: 400px;
width: 100%;
margin-left: auto;
margin-right: auto;
padding: 10px 10px;
display: block;
resize: vertical;
border: 1px #ccc;
margin-bottom: 20px;
background-color: #F2F7FC; /* Màu xanh */
outline: none;
overflow: auto;
}

.custom-syntax-highlighter{
    position: relative;
    font-size: small !important;
    border-radius: 12px !important;
    min-height: 50px;
    overflow: auto !important; 
}


.coverimg{
    width: 75%;
    display: flex;
    justify-content: center;
    text-align: center;
    margin:auto;
}


.copy-button {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: #ffffff;
    color: #000000;
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 12px;
  }
  
  .copy-button:hover {
    background-color: #f0f0f0; 
    color: #f60808;
  }

  @media (max-width: 1000px) {
    .coverimg {
        width: 90%;
    }
}
  